<aside class="sidebar-clinic border-end bg-white">
  <div class="d-flex flex-column h-100 p-3">

    <ul class="nav nav-pills flex-column mb-auto gap-1">

      <li class="nav-item">
        <a routerLink="/inicio" routerLinkActive="active" class="nav-link d-flex align-items-center gap-3">
          <div class="icon-wrapper">
            <i class="fas fa-clinic-medical fs-5"></i>
          </div>
          <span class="sidebar-text">Inicio</span>
        </a>
      </li>

      <li>
        <a routerLink="/pacientes" routerLinkActive="active" class="nav-link d-flex align-items-center gap-3">
          <div class="icon-wrapper">
            <i class="fas fa-user-injured fs-5"></i>
          </div>
          <span class="sidebar-text">Pacientes</span>
        </a>
      </li>

      <li>
        <a routerLink="/citas" routerLinkActive="active" class="nav-link d-flex align-items-center gap-3">
          <div class="icon-wrapper">
            <i class="fas fa-calendar-alt fs-5"></i>
          </div>
          <span class="sidebar-text">Citas</span>
        </a>
      </li>

    </ul>

  </div>
</aside>
